In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:

transaction_data = pd.read_csv("C:\\Users\\kisho\\OneDrive\\Documents\\projects\\discrete maths project\\data set\\file0.csv")

In [4]:
transaction_data = pd.get_dummies(transaction_data, columns=['nameOrig'])
transaction_data = pd.get_dummies(transaction_data, columns=['nameDest'])
transaction_data = pd.get_dummies(transaction_data, columns=['type'])

In [5]:
#first 5 rows of the dataset
transaction_data.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,nameOrig_C10001825,nameOrig_C100033245,...,nameDest_M998458782,nameDest_M998935228,nameDest_M998983750,nameDest_M999036382,nameDest_M999221400,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.0,160296.36,0.0,0.0,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,1864.28,21249.0,19384.72,0.0,0.0,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1,181.00,181.0,0.00,0.0,0.0,1,0,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1,181.00,181.0,0.00,21182.0,0.0,1,0,False,False,...,False,False,False,False,False,False,True,False,False,False
4,1,11668.14,41554.0,29885.86,0.0,0.0,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False

In [6]:
transaction_data.tail()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,nameOrig_C10001825,nameOrig_C100033245,...,nameDest_M998458782,nameDest_M998935228,nameDest_M998983750,nameDest_M999036382,nameDest_M999221400,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
9994,7,115.38,249688.0,249572.62,0.0,0.0,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False
9995,7,466.73,881.0,414.27,0.0,0.0,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False
9996,7,8239.66,11515.0,3275.34,0.0,0.0,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False
9997,7,6063.34,31409.0,25345.66,0.0,0.0,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False
9998,7,317806.64,10901.0,0.00,103168.0,0.0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,True

In [7]:
#dataset informations
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Columns: 16408 entries, step to type_TRANSFER
dtypes: bool(16400), float64(5), int64(3)
memory usage: 157.0 MB

In [8]:
#checking the number of missing values in each column
transaction_data.isnull().sum()

step              0
amount            0
oldbalanceOrg     0
newbalanceOrig    0
oldbalanceDest    0
                 ..
type_CASH_IN      0
type_CASH_OUT     0
type_DEBIT        0
type_PAYMENT      0
type_TRANSFER     0
Length: 16408, dtype: int64

In [9]:
#distribution of legit transactions & fraudulent transactions
transaction_data['isFraud'].value_counts()

isFraud
0    9931
1      68
Name: count, dtype: int64

In [10]:
#seperating the data for analysis
legit = transaction_data[transaction_data.isFraud == 0]
fraud = transaction_data[transaction_data.isFraud == 1]

In [11]:
print(legit.shape)
print(fraud.shape)

(9931, 16408)
(68, 16408)

In [12]:
# statistical measures of the data
legit.amount.describe()

count    9.931000e+03
mean     1.006129e+05
std      2.222386e+05
min      2.390000e+00
25%      4.372520e+03
50%      1.274265e+04
75%      1.140623e+05
max      3.776389e+06
Name: amount, dtype: float64

In [13]:
fraud.amount.describe()

count    6.800000e+01
mean     5.334636e+05
std      1.753539e+06
min      1.810000e+02
25%      1.494984e+04
50%      2.864476e+04
75%      1.815618e+05
max      1.000000e+07
Name: amount, dtype: float64

In [14]:
# compare the values for both transactions
transaction_data.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud,nameOrig_C10001825,nameOrig_C100033245,nameOrig_C1000600589,...,nameDest_M998458782,nameDest_M998935228,nameDest_M998983750,nameDest_M999036382,nameDest_M999221400,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
isFraud,,,,,,,,,,,,,,,,,,,,,
0,4.181049,100612.856298,896244.918944,921332.713084,939021.445319,1.099432e+06,0.0,0.000101,0.000101,0.000101,...,0.000101,0.000101,0.000101,0.000101,0.000101,0.196254,0.129494,0.034639,0.550196,0.089417
1,3.823529,533463.638676,568552.955588,43094.388824,254942.847794,7.000055e+05,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.514706,0.000000,0.000000,0.485294

Under Sampling
Build a sample dataset containing similiar distribution of normal transactions and Fraudulent Transactions
Number of Fraudulent Transactions -->68

In [136]:
legit_sample = legit.sample(n=68)

concatenating two DataFrames

In [137]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [138]:
new_dataset.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,nameOrig_C10001825,nameOrig_C100033245,...,nameDest_M998458782,nameDest_M998935228,nameDest_M998983750,nameDest_M999036382,nameDest_M999221400,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
1658,1,793.64,499843.00,499049.36,0.00,0.00,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False
6149,6,122817.49,0.00,0.00,13844492.54,13967310.03,0,0,False,False,...,False,False,False,False,False,False,True,False,False,False
626,1,254895.50,4247715.63,4502611.13,256668.41,2415.16,0,0,False,False,...,False,False,False,False,False,True,False,False,False,False
826,1,4833.96,41005.00,36171.04,0.00,0.00,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False
7417,7,285.59,0.00,0.00,0.00,0.00,0,0,False,False,...,False,False,False,False,False,False,False,False,True,False

In [139]:
new_dataset.tail()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,nameOrig_C10001825,nameOrig_C100033245,...,nameDest_M998458782,nameDest_M998935228,nameDest_M998983750,nameDest_M999036382,nameDest_M999221400,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
7030,6,85354.69,85354.69,0.0,11170.00,10612.55,1,0,False,False,...,False,False,False,False,False,False,True,False,False,False
7154,6,13704.00,13704.00,0.0,0.00,1658746.09,1,0,False,False,...,False,False,False,False,False,False,False,False,False,True
7155,6,13704.00,13704.00,0.0,3382.84,143675.35,1,0,False,False,...,False,False,False,False,False,False,True,False,False,False
9284,7,262434.54,262434.54,0.0,0.00,0.00,1,0,False,False,...,False,False,False,False,False,False,False,False,False,True
9285,7,262434.54,262434.54,0.0,19525.79,438233.86,1,0,False,False,...,False,False,False,False,False,False,True,False,False,False

In [140]:
new_dataset['isFraud'].value_counts()

isFraud
0    68
1    68
Name: count, dtype: int64

In [141]:
new_dataset.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud,nameOrig_C10001825,nameOrig_C100033245,nameOrig_C1000600589,...,nameDest_M998458782,nameDest_M998935228,nameDest_M998983750,nameDest_M999036382,nameDest_M999221400,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
isFraud,,,,,,,,,,,,,,,,,,,,,
0,4.485294,119459.594118,905045.891765,929254.297500,813069.904853,987247.159706,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.191176,0.058824,0.014706,0.632353,0.102941
1,3.823529,533463.638676,568552.955588,43094.388824,254942.847794,700005.515735,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.514706,0.000000,0.000000,0.485294

splitting the data into features & targets

In [142]:
X = new_dataset.drop(columns='isFraud', axis=1)
Y = new_dataset['isFraud']

In [143]:
print(X)

      step     amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
1658     1     793.64      499843.00       499049.36            0.00
6149     6  122817.49           0.00            0.00     13844492.54
626      1  254895.50     4247715.63      4502611.13       256668.41
826      1    4833.96       41005.00        36171.04            0.00
7417     7     285.59           0.00            0.00            0.00
...    ...        ...            ...             ...             ...
7030     6   85354.69       85354.69            0.00        11170.00
7154     6   13704.00       13704.00            0.00            0.00
7155     6   13704.00       13704.00            0.00         3382.84
9284     7  262434.54      262434.54            0.00            0.00
9285     7  262434.54      262434.54            0.00        19525.79

      newbalanceDest  isFlaggedFraud  nameOrig_C10001825  nameOrig_C100033245  \
1658            0.00               0               False                False
6149     13967310.03               0               False                False
626          2415.16               0               False                False
826             0.00               0               False                False
7417            0.00               0               False                False
...              ...             ...                 ...                  ...
7030        10612.55               0               False                False
7154      1658746.09               0               False                False
7155       143675.35               0               False                False
9284            0.00               0               False                False
9285       438233.86               0               False                False

      nameOrig_C1000600589  ...  nameDest_M998458782  nameDest_M998935228  \
1658                 False  ...                False                False
6149                 False  ...                False                False
626                  False  ...                False                False
826                  False  ...                False                False
7417                 False  ...                False                False
...                    ...  ...                  ...                  ...
7030                 False  ...                False                False
7154                 False  ...                False                False
7155                 False  ...                False                False
9284                 False  ...                False                False
9285                 False  ...                False                False

      nameDest_M998983750  nameDest_M999036382  nameDest_M999221400  \
1658                False                False                False
6149                False                False                False
626                 False                False                False
826                 False                False                False
7417                False                False                False
...                   ...                  ...                  ...
7030                False                False                False
7154                False                False                False
7155                False                False                False
9284                False                False                False
9285                False                False                False

      type_CASH_IN  type_CASH_OUT  type_DEBIT  type_PAYMENT  type_TRANSFER
1658         False          False       False          True          False
6149         False           True       False         False          False
626           True          False       False         False          False
826          False          False       False          True          False
7417         False          False       False          True          False
...            ...            ...         ...           ...            ...
7030         False           True       False         False          False
7154         False          False       False         False           True
7155         False           True       False         False          False
9284         False          False       False         False           True
9285         False           True       False         False          False

[136 rows x 16407 columns]

In [144]:
print(Y)

1658    0
6149    0
626     0
826     0
7417    0
       ..
7030    1
7154    1
7155    1
9284    1
9285    1
Name: isFraud, Length: 136, dtype: int64

Split the data into Training data & Testing Data

In [145]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y, test_size=0.2,stratify=Y,random_state=2)

In [146]:
print(X.shape, X_train.shape, X_test.shape)

(136, 16407) (108, 16407) (28, 16407)

Model Training

Logistic regression

In [147]:
model = LogisticRegression()

In [148]:
#training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

In [149]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [150]:
print("Accuracy on training data :",training_data_accuracy)

Accuracy on training data : 0.9444444444444444

In [151]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [152]:
print("Accuracy on test data :",test_data_accuracy)

Accuracy on test data : 0.9642857142857143